@model User

<h1>Shopping list items</h1>

@if (Model.ShoppingListItems.Count <= 0)
{
    <p>There are no albums on your shoppinglist. Why don't you <a href="/Shop">add</a> something to it?</p>
}
else
{
    <p>Do you want to order these items? <a href="/Order">Click here!</a></p>

    @foreach (var item in Model.ShoppingListItems)
    {
        <form method="post" asp-action="">
            <input type="hidden" value="@item.Id" name="Id" />
            <p>
                <img src="~/@item.Album.ImageUrl" style="width:60px; height:60px;" />
                @item.Album.Name by @item.Album.Creator

                <input type="submit" class="btn btn-success" formmethod="post" formaction="ShoppingList/IncrementQuantity" value="+" />
                <span>@item.Quantity</span>
                <input type="submit" class="btn btn-danger" formmethod="post" formaction="ShoppingList/DecrementQuantity" value="-" />

                <input type="submit" class="remove_from_shopping_list" formmethod="post" formaction="ShoppingList/RemoveFromShoppingList" value="x" />
            </p>
        </form>
    }


}
