@model AlbumsToBuy.Dtos.OrderUserDto

@{
    ViewData["Title"] = "Index";
}

<h4>Order items</h4>
<hr />

@if (Model.User.ShoppingListItems.Count > 0)
{

    @foreach (var shoppingListItem in Model.User.ShoppingListItems)
    {
        <p>@shoppingListItem.Quantity x <img src="~/@shoppingListItem.Album.ImageUrl" style="width:60px; height:60px;" /> @shoppingListItem.Album.Name by @shoppingListItem.Album.Creator</p>

    }

    <hr />
    <p>Total price: €@Model.TotalPrice</p>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5>Address</h5>
                <div class="form-group">
                    <label asp-for="Order.Street" class="control-label"></label>
                    <input asp-for="Order.Street" class="form-control" />
                    <span asp-validation-for="Order.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.City" class="control-label"></label>
                    <input asp-for="Order.City" class="form-control" />
                    <span asp-validation-for="Order.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.ZipCode" class="control-label"></label>
                    <input asp-for="Order.ZipCode" class="form-control" />
                    <span asp-validation-for="Order.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.Country" class="control-label"></label>
                    <input asp-for="Order.Country" class="form-control" />
                    <span asp-validation-for="Order.Country" class="text-danger"></span>
                </div>
                <hr /><br />
                <div class="form-group">
                    <label asp-for="Order.SpecialNotes" class="control-label"></label>
                    <input asp-for="Order.SpecialNotes" class="form-control" />
                    <span asp-validation-for="Order.SpecialNotes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <p>There are no albums on your shoppinglist. Why don't you <a href="/Shop">add</a> something to it?</p>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
