@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome by AlbumsToBuy</h1>
    <h4><a href="/Shop">Check out our albums!</a></h4>
</div>

<img src="~/images/shelf.png" id="homepage_image"/>
